ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

.category {
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}

button {
    margin-left: 5px;
}

#filterInput {
    margin-bottom: 10px;
    padding: 4px 8px;
    font-size: 14px;
    width: 200px;
}

