html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    background: #0000b1;
    transition: background-color 0.5s, color 0.5s;
}
.main_Attribute{
    padding: 20px 10px;
    margin: 0 auto;
    width: 900px;
    height: 655px;
    overflow: hidden;
    background: yellow;
}
h1{
    text-align: center;
    margin: 0 auto 40px;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    border: solid 5px blue;
    width: 625px;
}
.Attribute{
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
}
h2{
    margin: 10px auto;
    font-weight: 600;
    font-size: 20px;
    width: 420px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 2px blue;
    border-top: solid 2px blue;
}
.theme{
    text-align: center;
    margin: -20px 0 20px;
}
#toggle-theme{
    font-weight: bold;
    background: #b72727;
    color: #ffffff;
}
body.dark-theme {
    background-color: #121212;
    color: white;
    h1{
        border: solid 5px black;
        color: grey;
    }
    .main_Attribute{
        background: darkred;
    }
    h2{
        border-top: solid 2px black;
        border-bottom:  solid 2px black;
        color: grey;
    }
    #toggle-theme{
        color: black;
        background: orange;
    }
}